.footer{
    width: 100%;
    height: 20%;
    background-color: red;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.html{
    width: 100%;
    height: 100%;
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: blue;
}
.header{
    width: 100%;
    height: 20%;
    background-color: orange;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

}
body{
	background-color: cadetblue;
    margin: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.form{
    border-radius: 5px;
    padding: 3%;
    margin: 3%;
    width: min-content;
    align-self: center;
    box-shadow: 10px 5px 5px grey;
    border:solid black;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.leftHeader{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.rightHeader{
    background-color: blue;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#allColumns{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
.aColumn{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.modal {
	display: none;
	position: fixed;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
  
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.star-widget {
	display : inline-block;
}
.star-widget input {
	display: none;
}
.star-widget label{
  font-size: 18px;
  color: #444;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#difficulty-2:checked ~ label{
	color: rgb(255, 208, 0);
  }
input#difficulty-3:checked ~ label{
	color: rgb(255, 153, 0);
  }
input#difficulty-4:checked ~ label{
	color: rgb(255, 102, 0);
  }
input#difficulty-5:checked ~ label{
  color: rgb(255, 0, 0);
}
